* {
  box-sizing: border-box;
}
.section {
  margin-top: 5vh;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.App {
  padding-bottom: 5vh;
}
h1 {
  text-decoration: underline whitesmoke;
  text-underline-offset: 10px;
}

@media screen and (max-width: 600px) {
  .section {
    margin-top: 0;
    padding-top: 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
  }
  .App {
    padding-bottom: 0;
  }
}
