#contact {
  background-color: rgb(134, 193, 241);
}
.emailAnimation {
  width: 75%;
}
.emailSent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.emailWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.emailContainer {
  width: 45%;
  padding: 15px;
}
.emailButton {
  display: flex;
  justify-content: center;
}
.socialIcon {
  margin: 0 10px;
}

@media screen and (max-width: 600px) {
  .emailContainer {
    width: 80%;
  }
  #contact {
    height: 96vh;
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 95%;
  }
}
