.background {
  background-image: url('bg.jpg');
  background-position: center;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.landingScreen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingSpinner {
  transform-style: preserve-3d;
  animation: animate 12s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(900px) rotateY(360deg) rotateX(8deg);
  }
  100% {
    transform: perspective(900px) rotateY(0deg) rotateX(8deg);
  }
}

.landingSpinner .char {
  font-family: Courier, monospace;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(58, 132, 195);
  background: -moz-linear-gradient(
    top,
    rgba(97, 153, 199, 1) 0%,
    rgba(58, 132, 195, 1) 2%,
    rgba(65, 154, 214, 1) 22%,
    rgba(75, 184, 240, 1) 46%,
    rgba(58, 139, 194, 1) 75%,
    rgba(38, 85, 139, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(206, 219, 233, 1) 0%,
    rgba(97, 153, 199, 1) 0%,
    rgba(58, 132, 195, 1) 2%,
    rgba(65, 154, 214, 1) 22%,
    rgba(75, 184, 240, 1) 46%,
    rgba(58, 139, 194, 1) 75%,
    rgba(38, 85, 139, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(206, 219, 233, 1) 0%,
    rgba(97, 153, 199, 1) 0%,
    rgba(58, 132, 195, 1) 2%,
    rgba(65, 154, 214, 1) 22%,
    rgba(75, 184, 240, 1) 46%,
    rgba(58, 139, 194, 1) 75%,
    rgba(38, 85, 139, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 );
  color: black;
  font-size: 4em;
  padding: 5px 12px;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(250px);
  text-shadow: 500px 150px 0 rgba(255, 255, 255, 0.5),
    300px 150px 10px rgba(255, 255, 255, 0.5),
    150px 600px 0 rgba(255, 255, 255, 0.5),
    600px 50px 0 rgba(255, 255, 255, 0.5),
    400px 350px 0 rgba(255, 255, 255, 0.5),
    200px 500px 0 rgba(255, 255, 255, 0.5),
    500px -150px 0 rgba(255, 255, 255, 0.5),
    300px -150px 10px rgba(255, 255, 255, 0.5),
    150px -600px 0 rgba(255, 255, 255, 0.5),
    600px -50px 0 rgba(255, 255, 255, 0.5),
    400px -350px 0 rgba(255, 255, 255, 0.5),
    200px -500px 0 rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 600px) {
  .landingSpinner .char {
    font-size: 1.5em;
    transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(130px);
  }
}

@media screen and (max-width: 600px) {
  .landingSpinner .char {
    font-size: 1.5em;
    transform: rotateY(calc(var(--char-index) * 12deg)) translateZ(130px);
  }
}

@media screen and (max-width: 1000px) {
  .landingSpinner .char {
    text-shadow: none;
  }
}

#dash {
  color: rgba(66, 171, 223, 0);
}
