#navbar {
  padding-left: 70px;
  overflow: hidden;
  background: rgb(58, 132, 195);
  background: -moz-linear-gradient(
    top,
    rgba(206, 219, 233, 1) 0%,
    rgba(97, 153, 199, 1) 0%,
    rgba(58, 132, 195, 1) 2%,
    rgba(65, 154, 214, 1) 22%,
    rgba(75, 184, 240, 1) 46%,
    rgba(58, 139, 194, 1) 75%,
    rgba(38, 85, 139, 1) 100%
  );
  background: -webkit-linear-gradient(
    top,
    rgba(206, 219, 233, 1) 0%,
    rgba(97, 153, 199, 1) 0%,
    rgba(58, 132, 195, 1) 2%,
    rgba(65, 154, 214, 1) 22%,
    rgba(75, 184, 240, 1) 46%,
    rgba(58, 139, 194, 1) 75%,
    rgba(38, 85, 139, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(206, 219, 233, 1) 0%,
    rgba(97, 153, 199, 1) 0%,
    rgba(58, 132, 195, 1) 2%,
    rgba(65, 154, 214, 1) 22%,
    rgba(75, 184, 240, 1) 46%,
    rgba(58, 139, 194, 1) 75%,
    rgba(38, 85, 139, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 );
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

#navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.active {
  color: white;
}

.notActive {
  color: black;
}

@media screen and (max-width: 600px) {
  #navbar {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
}
