#projects {
  position: relative;
  background-color: rgb(134, 193, 241);
}
.imageContainer {
  overflow: hidden;
}
.projectImage {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid black;
}
.modalImage {
  width: 100%;
}
.projectImage:hover {
  transform: scale(1.1);
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  #navbar {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
  }
  #projects {
    background-color: rgb(170, 205, 235);
  }
}
